/*body {
  background-color: antiquewhite;
}
a[target="_blank"] {
  background-color: aqua;
}
a:hover {
  background-color: blue;
}
input:focus {
  color: aquamarine;
  border: 5px solid chocolate;
}
p:first-child -> div içerisindeki ilk çocuğu seçer
p:nth-child() -> div içerisindeki childeları parantezin içerisine yazarak seçer*/

html,
body {
  background-color: antiquewhite;
  margin: 10px;
}
.container > div {
  padding: 10px;
  text-align: center;
  font-size: 2em;
}
.container > div:nth-child(1) {
  background-color: aqua;
}
.container > div:nth-child(2) {
  background-color: rgb(179, 255, 0);
}
.container > div:nth-child(3) {
  background-color: aqua;
}
.container {
  border: 1px solid aquamarine;
  display: flex;
  flex-wrap: nowrap;
}

.home {
  flex-basis: 200px;
  flex-grow: 1;
  flex-shrink: 1;
  order: 0; /*sırallamasını ayarlıyor*/
}
.search {
  flex-basis: 200px;
  flex-grow: 1;
  flex-shrink: 1;
  order: 2;;
}
.exit {
  flex-basis: 200px;
  flex-grow: 1;
  flex-shrink: 1;
  order: 0;
}
